*, *:before, *:after {
  box-sizing: border-box;
  font-family: "aktiv-grotesk";
  font-size: 17px;
  font-color: #212121 ;
}

h1 a {
  font-family: "aktiv-grotesk" !important;
  font-size: 56px;
}


body {
   background: #DDDCC5;
}

.parent {
  width: 100%;
  border: 1px solid #1D2326;
}
 .card {
  background: #DDDCC5;
    padding: 10px;
 }

  .card h2 {
  color:#1D2326;
    text-decoration:none;
 }

 .card .date {
  color:#1D2326;
  margin-top:10px;
  font-size:14px;
}


ul {
  list-style-type: none;
}

li {
  display: inline;
}

a {
  color: #1D2326;
}
.brandcolor {
  color: #611427
}

.brandcolor2 {
  color: #6A6A61;
}

#namelist a {
  font-size: 14px !important;
  font-weight: 200;
  margin-left: 0;
}

ul#namelist {
    padding: 0 0 0 0 !important;
}

h1 .namegroup a { display: inline-block; 
  margin-left: 1em;
  padding-left: 1em;
}

#milesaway {
  background-image: url('../media/billnwill2.jpg');
}


@media screen and (max-width: 30em) {
  #canvas2 { display: none; }
  #hide {display: none !important;}
  #datetag { display: none !important;}
}


