{% extends "base.html" %}
{% block content %}
<div class="container card" style="margin-bottom: 4em;">
	<div class="row">
		<div class="col-xs-8">
			<h1>About Me</h1>
				<p>Data scientist at Xometry, hobbyist woodturner, and husband. I specialize in wrangling, visualizing, and interpreting data. I use those insights to build machine learning models.</p>
		</div>
		<div class="col-xs-4">
			<img src="{{ url_for('static', filename = 'media/me.jpg') }}" class="img-responsive img-circle">
			</a>
		</div>
	</div>
{% endblock content %}